@import '../styles/variables/colors';

.dashboard {
  border: 1px solid $grey-3;
  border-radius: 4px;

  .dashboard-header {
    height: 30px;

    .label-icon {
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }

  .black {
    background-color: $black;
    stroke: $black;
  }
  .blue-1 {
    background-color: $blue-1;
    stroke: $blue-1;
  }
  .blue-2 {
    background-color: $blue-2;
    stroke: $blue-2;
  }
  .blue-3 {
    background-color: $blue-3;
    stroke: $blue-3;
  }
  .blue-4 {
    background-color: $blue-4;
    stroke: $blue-4;
  }
  .green-1 {
    background-color: $green-1;
    stroke: $green-1;
  }
  .green-2 {
    background-color: $green-2;
    stroke: $green-2;
  }
  .grey-1 {
    background-color: $grey-1;
    stroke: $grey-1;
  }

  .grey-2 {
    background-color: $grey-2;
    stroke: $grey-2;
  }
  
  .grey-3 {
    background-color: $grey-3;
    stroke: $grey-3;
  }
  .grey-4 {
    background-color: $grey-4;
    stroke: $grey-4;
  }
  .hot-pink {
    background-color: $hot-pink;
    stroke: $hot-pink;
  }
  .orange {
    background-color: $orange;
    stroke: $orange;
  }
  .pink {
    background-color: $pink;
    stroke: $pink;
  }
  .purple {
    background-color: $purple;
    stroke: $purple;
  }
  .red {
    background-color: $red;
    stroke: $red;
  }
  .yellow {
    background-color: $yellow;
    stroke: $yellow;
  }
}
