#right-chart-panel {
    width: 100%;
}

#chart-section-container {
    padding: 6px 14px;
}

#chart-option-right{
    gap: 12px;
    justify-content: flex-end;
}

#chart-section-header {
    font-family: Lato;
    font-size: 0.875em;
    font-weight: 700;
}

#date-range-container{
    display: flex;
    justify-content: flex-end;

    #date-selector{
        width: 75%;
    }
}

// #chart-iframe{
//     width: 100%
// }

#chart-header-container{
    flex-wrap: wrap;
}

.flex-left-ratio {
    flex: 1 1 0;
}

.flex-right-ratio {
    flex: 2.8 2.8 0;
}