#right-chart-panel {
    width: 100%;
}

#chart-section-container {
    padding: 6px 14px;
}

#chart-option-right{
    gap: 12px;
    justify-content: flex-end;
}

#chart-section-header {
    font-family: Lato;
    font-size: 0.875em;
    font-weight: 700;
}

#date-range-container{
    display: flex;
    justify-content: flex-end;

    #date-selector{
        width: 75%;
    }
}

// #chart-iframe{
//     height: 100%
// }

#chart-header-container{
    flex-wrap: wrap;
}

#chart-card-left-container{
    // gap: 16px;
    padding-right: 8px;
}

.expand-popup{
    position: fixed;
    z-index: 997;
    width: 95vw;
    height: calc(100vh - 75px);
    background-color: rgba(249,250,251,255);
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0)
}

#chart-options {
    height: 32px;
}

#chart-iframe{

    img{
        width: 100%;
    }

    .img-expand{
        height: calc(85% - 75px);
    }
}

#date-range-dropdown.MuiOutlinedInput-root.MuiAutocomplete-input{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
