$black: #2D3436;
$blue-2: #28A1FF;

$green-1: #6CC7B6;
$green-2: #68BB7B;
$grey-1: #636E72;
$grey-4: #F9FAFB;

$hot-pink: #F0027F;

$orange: #FC8D1F;

$pink: #CD36A3;
$purple: #8F26E1;

$red: #E10505;

$yellow: #F2B51C;
