$black: #2D3436;
$blue-1: #72BBF4;
$blue-2: #28A1FF;
$blue-3: #086EBE;
$blue-4: #D3ECFF;

$green-1: #6CC7B6;
$green-2: #68BB7B;
$grey-1: #636E72;
$grey-3: #DFE6E9;
$grey-4: #F9FAFB;

$hot-pink: #F0027F;

$orange: #FC8D1F;

$pink: #CD36A3;
$purple: #8F26E1;

$red: #E10505;

$yellow: #F2B51C;
