.MuiTypography-root.MuiTypography-body1.input-title {
    padding-bottom: 4px;
    color: var(--black, #2D3436);
    font-family: "Open Sans", "sans-serif";
    font-size: 14px;
}

.MuiChip-label {
    overflow-wrap: 'break-word';
    white-space: 'normal';
    text-overflow: 'clip';
}

.MuiButtonBase-root.MuiChip-root.MuiChip-filled.MuiChip-sizeSmall.MuiChip-colorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-filledDefault.MuiAutocomplete-tag.MuiAutocomplete-tagSizeSmall{
    max-width: 70%;
}