.MuiTypography-root.MuiTypography-body1.input-title {
    padding-bottom: 4px;
    color: var(--black, #2D3436);
    font-family: "Open Sans", "sans-serif";
    font-size: 14px;
}

.MuiChip-label {
    overflow-wrap: 'break-word';
    white-space: 'normal';
    text-overflow: 'clip';
}

.MuiButtonBase-root.MuiChip-root.MuiChip-filled.MuiChip-sizeSmall.MuiChip-colorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-filledDefault.MuiAutocomplete-tag.MuiAutocomplete-tagSizeSmall{
    max-width: 70%;
}

@keyframes blurAnimation {
    0% {
        filter: blur(2px); 
    }
    50% {
        filter: blur(6px);
    }
    100% {
        filter: blur(2px); 
    }
}
  
.input-loading.MuiAutocomplete-root {
    animation-name: blurAnimation;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transition: filter 0.2s ease-in-out;
    pointer-events: none;

    .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
        background-color: transparent;
    }
}